@model GetLastWordDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="quotation" class="align-center pb-5 mb-5">
	<div class="inner-content">
		<h2 class="section-title divider"> Günün Sözü</h2>
		<blockquote data-aos="fade-up">
			<q>
				@Model.WordContent
			</q>
			<div class="author-name">@Model.WordWriter</div>
		</blockquote>
	</div>
</section>
