@model List<UIResultSliderProductDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="billboard">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>

				<div class="main-slider pattern-overlay">
					@foreach (var product in Model.Take(4))
					{

					<div class="slider-item">
						<div class="banner-content">
							<h2 class="banner-title">@product.ProductName</h2>
							<p>
								@product.ProductDesc
							</p>
							<div class="btn-wrap">
								<a href="#" class="btn btn-outline-accent btn-accent-arrow">
									Devamını Oku<i class="icon icon-ns-arrow-right"></i>
								</a>
							</div>
						</div><!--banner-content-->
						<img src="@product.ProductImageUrl" alt="banner" class="banner-image">
					</div><!--slider-item-->
					}
				</div><!--slider-->

				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>

			</div>
		</div>
	</div>

</section>
