@model BookStore.WebUI.Dtos.ProductDtos.GetByIdProductDto

@{
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
        <br /><br />
        <input type="hidden" asp-for="ProductId" />
        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <label>Ürün Stok Sayısı</label>
        <input type="text" asp-for="ProductStock" class="form-control" />
        <br />
        <button type="submit" class="btn btn-warning">Ürünü Güncelle</button>
</form>
